# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.config
.npm
.bash_history
.yarnrc
*.iml
typeScript
reports
node_modules
